{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Some Cool Messages {% endblock %}</h1>
{% endblock %}

{% block content %}
<style>
dt{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  }
dd{
  font-style: italic; 
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 14px;
  color:brown;
}
</style>
{% if data %}
  <dl>
  {% for m in data %}
      <dt>{{ m[1] }}</dt>
      <dd>-- {{ m[0]}}</dd>
      <br>
  {% endfor %}
  </dl>
{% else %}
  No messages yet!
{% endif %}



{% endblock %}
